.side-chat
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ui.side-header__box__menu
        =link_to "/groups/new", class: "side-header__box__menu__new-group" do
          %i.fa.fa-edit
          %span<>
        =link_to "/users/#{current_user.id}/edit",method: :get, class: "side-header__box__menu__edit-user" do
          %i.fas.fa-cog
          %span<>


  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__latest-message
            メッセージはまだありません。