.main-chat{
  width: calc(100vw - 300px);


  .main-chat-header{
    color: $main_bule_light;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    overflow: scroll;
    box-sizing: border-box;
    &__left-box{
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__member-list{
        font-size: 12px;
        color: $main_gray_light;
        display: flex;
        &__member{
        }
      }
    }
    &__edit-btn{
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      margin-top: 30px;
      border: solid 1px $main_bule_light;
      right: 40px;
    }
  }


  .messages{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    box-sizing: border-box;
    .message{
      padding-bottom: 40px;
      &__info{
        display: flex;
        margin-bottom: 10px;
        &__taker{
          color: $main_gray_dark;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: $main_gray_light;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text{
        color: $main_gray_dark;
        font-size: 14px;
      }
    }
  }


  .form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    box-sizing: border-box;
    &__message{
      display: flex;
      border: none;
      height: 50px;
      width: 100%;
    }
      &__input-box{
        position: relative;
        width: 100%;
        &__text{
          height: 50px;
          width: calc(100% - 50px);
          padding: 0 40px 0 10px;
          color: $main_gray_dark;
          border-style: none;
        }
        &__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .hidden{
            display: none;
          }
        }
      }
      .submit-btn{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $main_bule_light;
        color: white;
        cursor: pointer;
      }
    
  }
}